.o_google_map_view {
    .o_google_map_renderer, .o_dialog {
        .o_map_right_sidebar {
            // Base styles
            position: relative;
            height: 100%;
            background-color: $o-view-background-color;
            transition: width 0.3s ease-in-out;
            z-index: 1;
            width: 25%; // Default width

            .content {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                position: relative;
                height: 100%;
                width: 100%;
                padding: 0px 2px 0px 2px;
                background-color: $o-view-background-color;
                transform: translateX(0);
                transition: transform 0.3s ease-in-out;
                overflow-x: auto;

                button[data-bs-toggle="collapse"] {
                    .fa-caret-down {
                        display: block;
                    }
                    .fa-caret-right {
                        display: none;
                    }
                    &.collapsed {
                        .fa-caret-down {
                            display: none;
                        }
                        .fa-caret-right {
                            display: block;
                        }
                    }
                }
                .list-group {
                    .list-group-item {
                        padding: 0.25rem 0.5rem;
                    }
                }

            }
            .toggle_right_sidenav {
                display: block;
                position: absolute;
                right: 100%;  // Position relative to the sidebar width
                top: 25%;
                z-index: 2;
                transition: right 0.3s ease-in-out; // Add transition to match content

                button {
                    width: 25px;
                    height: 60px;
                    border-left: 1.5px solid $o-view-background-color;
                    border-top: 1.5px solid $o-view-background-color;
                    border-bottom: 1.5px solid $o-view-background-color;
                    border-right: 0px;
                    box-shadow: 0px 1px 0px #989898;
                    border-radius: 4px 0px 0px 4px;
                    font-size: 20px;
                    background-color: $o-view-background-color;
                    cursor: pointer;

                    &:focus {
                        outline: none;
                    }

                    &::before {
                        display: inline-block;
                    }
                }
            }


            // Closed state
            &.closed {
                width: 0;
                box-shadow: none;

                .content {
                    transform: translateX(100%);
                    overflow: hidden;
                }

                .toggle_right_sidenav {
                    right: 0; // Adjust to keep button visible when closed

                    button::before {
                        content: '\2039';
                    }
                }
            }
            // Open state
            &.open {
                width: 25%;
                box-shadow: -0.9px 0 1px 0.1px $o-view-background-color;

                .content {
                    transform: translateX(0);
                }

                .toggle_right_sidenav {
                    right: 100%; // Keep button at the edge of sidebar when open

                    button::before {
                        content: '\203A';
                    }
                }
            }
            li {
                &.disabled {
                    background-color: invert($o-view-background-color, 0.5%);
                    pointer-events: auto;
                    cursor: no-drop;
                    a {
                        text-decoration: none;
                    }
                }
            }


            .o_map_sidebar {
                span {
                    &.text-muted {
                        @include font-size($font-size-sm);
                    }
                    &.title {
                        @include o-kanban-record-title($font-size: 14px);
                    }
                }
                table tr td {
                    vertical-align: middle;
                }
            }
        }
    }
}