.o_google_map_renderer {
    position: relative;
    .o_google_map_view {
        border-radius: 4px;
    }
}

.o_terra_tools_ui {
    // background: white;
    padding: 6px;
    display: flex;
    flex-flow: column;

    .o_terra_toolbar {
        display: flex;
        flex-flow: column;
        gap: 1px;
    }

    button {
        margin: 4px 0;
        cursor: pointer;
        // background-color: white;
    }

    .mode-button {
        width: 32px;
        height: 32px;
        border: 1px solid #ccc;
        background-color: white;
        border-radius: 4px;
        padding: 4px;
        -webkit-box-sizing: border-box; /* Safari/Chrome */
        -moz-box-sizing: border-box; /* Firefox */
        box-sizing: border-box;

        img, span {
            width: 100%;
            display: block;
        }

        &.active {
            // background-color: #84e0d8;
            background-color: #71639e;
        }

        &:hover {
            background-color: #e1e1e1;
        }
    }

    /* Special buttons default state */
    #select-mode,
    #clear-mode,
    #delete-selected-button,
    #undo-button,
    #redo-button,
    #resize-button {
        background-color: #000000;
    }

    /* Special buttons icon default state */
    #select-mode img,
    #clear-mode img,
    #delete-selected-button img,
    #undo-button img,
    #redo-button img,
    #export-button img,
    #upload-button img,
    #resize-button img {
        -webkit-filter: brightness(0) invert(1);
        -moz-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);
    }

    #save-button {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            color: #000000;
        }
    }

    /* Special buttons active/click states */
    #select-mode.active {
        background-color: #71639e;
    }

    #clear-mode:active,
    #delete-selected-button:active,
    #undo-button:active,
    #redo-button:active,
    #export-button:active,
    #upload-button:active,
    #resize-button:active,
    #save-button:active,
    #simplify-feature-button:active {
        background-color: #71639e;
    }

    #simplify-feature-button, #delete-selected-button {
        background-color: #000000;
        color: white;
        &:disabled, &[disabled] {
            background-color: #dcdcdc;
            cursor: not-allowed;
        }
    }
}
