.o_google_map_renderer {
    .o_google_map_view {
        .button_geolocate_user {
            margin-right: 10px;
            margin-bottom: 2px;

            .btn {
                width: 40px;
                height: 40px;
                color: #1a56c4;
            }
        }
    }
}
