.o_google_map_renderer {
    .o_google_map_view {
        .button_geolocate_user {
            .btn {
                opacity: 1;
                cursor: pointer;
                padding: 5px 9px;
                margin-right: 10px;
            }
        }
    }
}