.o_google_map_renderer {
    .o_google_map_view {
        .button_geolocate_user {
            .btn {
                opacity: 1;
                cursor: pointer;
                padding: 6px 10px 5px 8px;
                margin-right: 10px;
            }
        }
    }
}