.o_field_google_map_drawing_one2many {
    width: 100%;

    .o_field_x2many_google_map {
        height: 600px;

        .o_google_map_view {
            border: 1px solid $o-view-background-color;
        }

        .o_map_right_sidebar {
            &.closed {
                position: relative;
            }
        }
    }
}

.o_google_map_renderer {
    .o_google_map_view {
        .map-measurement-label {
            z-index: 999;
            position: absolute;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 2px 6px;
            border-radius: 3px;
            font-size: 12px;
            font-weight: 500;
            border: 1px solid #666;
            white-space: nowrap;
        }
    }
}
